.aboutpage{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
.aboutpage img{
    width:100%;
    height:300px;
}
.aboutpage h1{
    color:darkblue;
    font-weight:bold;
}
.aboutpage p{
    text-align:left;
    /* padding-right: 20px; */
    /* margin-right:50px; */
}

/* .myImage{
    width:100%;
    height:200px;
} */