
.nav-container{

  /* width: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position:sticky;
  background-color: #211D49;
	overflow: hidden; */

  /* box-shadow: 5px 20px 50px #000; */

}

.nav-container {
  width: 100%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #211D49;
  /* background-color: yellow; */
}
.logo {
  width: 150px;
  height: 50px;
  cursor: pointer;
  color:white;
}
.nav-container ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
 
}

/* .nav-container ul li lll {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
} */

.nav-container ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: red;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.nav-containerul li:hover::after {
  width: 100%;
}







.link {
  /* font-family: Arial, Helvetica, sans-serif; */
  text-decoration: none;
  margin-left: 15px;
  font-size: 20px;
  transition: color ease-in-out 300ms;
  color: white;
}
.link ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: red;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.link li:hover::after {
  color: red;
  width: 100%;
}
.active-link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
    transition: color ease-in-out 300ms;
    color: darkgray;
  }

  .active-link ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  
  .active-linkli:hover::after {
    color: red;
    width: 100%;
  }